ion-tab-bar {
    --background: #1f1f1f;
}

ion-content {
    --background: #121212;
}

.yoda-icon {
    background: url("../assets/icon/yoda-face.png") no-repeat center center/cover;

    width: 2em;
    height: 1em;
}

.chuck-icon {
    background: url("../assets/icon/chuck-norris.png") no-repeat center center/cover;

    width: 1em;
    height: 1em;
}

.devil-icon {
    background: url("../assets/icon/trident.svg") no-repeat center center/cover;

    width: 1em;
    height: 1em;
}

.doggo-icon {
    background: url("../assets/icon/dog.png") no-repeat center center/cover;

    width: 1em;
    height: 1em;
}

    .side-icon {
        width: 1em;
        height: 1em;
        margin-right: 1em;
    }

/* Side Menu */

.ftt-logo{
    background: url("../assets/icon/logo_ftt.png") no-repeat center center/cover;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #5e7ccc;
    margin-right: 14px;
}

.menu-header-bg {
    height:180px;
    width: 350px;
    background: #7590d6;
    background: linear-gradient(90deg, #7590d6 0%, #4d71d7 100%);
    box-shadow: opx 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
}

.header-content  > ion-label > h2 {
    font-weight: 300;
    color: #FFF
}

.header-content  > ion-label >  p {
    font-size: 12px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
}

.menu-items{
    margin: 0px;
}

.menu-items > ion-icon {
    margin-right: 20px;
}

.menu-items > ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
}

ion-menu-toggle > ion-item , ion-list{
    --background: #121212;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    color: #FFF;
}

.list-md {
    background: none;
}


.list-ios {
    background: #151515;
}

.active {
    border-left: 5px solid;
    color: #628cff;
    padding-left: 15px;
}

.active  > ion-icon {
    color: #628cff
}



/* Change font size on small screens */
@media only screen and (max-width: 400px) {
    *  {
        font-size:  0.9rem;
    }
}

/* If device has touch -> tabs  */

ion-tab-bar{
    display: none;
}

@media only screen and (hover: none) and (pointer: coarse){
   ion-menu-button {
       display: none;
   }
   ion-tab-bar {
       display: flex;
   }
}