ion-tab-bar {
    --background: #1f1f1f;
}

ion-content {
    --background: #121212;
}

.yoda-icon {
    background: url("../assets/icon/yoda-face.png") no-repeat center center/cover;

    width: 2em;
    height: 1em;
}

.chuck-icon {
    background: url("../assets/icon/chuck-norris.png") no-repeat center center/cover;

    width: 1em;
    height: 1em;
}

.devil-icon {
    background: url("../assets/icon/trident.svg") no-repeat center center/cover;

    width: 1em;
    height: 1em;
}

.doggo-icon {
    background: url("../assets/icon/dog.png") no-repeat center center/cover;

    width: 1em;
    height: 1em;
}

    .side-icon {
        width: 1em;
        height: 1em;
        margin-right: 1em;
    }