.first-tab-content > ion-grid {
    height: 100%;
    background: url('../../assets/images/tab1_background.jpeg') no-repeat center center/cover;
}

.first-tab-header > ion-toolbar , .first-tab-page > ion-header{
    --background: #121212;
}

.first-tab-header > ion-toolbar > ion-title {
    color: #FFF;
}

.first-tab-header > ion-toolbar > ion-text {
    margin-left: 1.25rem;
    color: #FFFFFF88;
}

.first-tab-content > ion-grid > ion-row {
    height: 100%;
    align-content: center;
}

.first-tab-content > ion-grid > ion-row > ion-col {
    display: flex;
    justify-content: center;
}

.first-tab-content > ion-grid > ion-row > ion-col > ion-card {
    padding: 0.5rem;

    min-width: 23rem;
    min-height: 7rem;

	--background:
        repeating-linear-gradient(
                45deg, rgba(255, 255, 255, 0) 1px,
                rgba(255, 255, 255, 0.03) 2px,
                rgba(255, 255, 255, 0.04) 3px,
                rgba(255, 255, 255, 0.05) 4px),
        -webkit-linear-gradient(
                -245deg,
                rgba(255, 255, 255, 1) 40%,
                rgba(255, 255, 255, 0.95) 70%,
                rgba(255, 255, 255, 0.9) 90%);

}

.first-tab-content > ion-grid > ion-row > ion-col > ion-card > ion-item {
    --background: transparent;
}

.first-tab-content > ion-grid > ion-row > ion-col > ion-card > ion-item > ion-card-title {
    color: #000;
}

.sinner-icon {
    background: url("../../assets/icon/elmo_burning.png") no-repeat center center/cover;

    height: 1.5em;
    width: 2em;
}

.card-content-md {
    font-size:  1rem;
    --color: #000;

}
